#
# elf_diff
#
# Copyright (C) 2019  Noseglasses (shinynoseglasses@gmail.com)
#
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, version 3.
#
# This program is distributed in the hope that it will be useful, but WITHOUT but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with along with
# this program. If not, see <http://www.gnu.org/licenses/>.
#
# Install requirements with one of the following commands
# pip install -r requirements.txt
# py -m pip install -r requirements.txt
jinja2 >= 2.11.3
pyyaml >= 5.4
progressbar2 == 3.53
GitPython == 3.1.32
weasyprint == 53.3
anytree == 2.8.0
dict2xml >= 1.7.0
defusedxml >= 0.7.1
