name: Local Package Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Ubuntu packages
      run: |
         sudo apt install -y python3-pip
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install build
    - name: Local Python Packaging
      run: |
        python3 -m build
    - name: Check version tag push
      if: github.event_name == 'push'
      run: |
        source scripts/validate_package_version.sh
        validate_package_version_wo_sha "${GITHUB_REF}"
    - name: Check version tag PR
      if: github.event_name == 'pull_request'
      run: |
        source scripts/validate_package_version.sh
        validate_package_version_wo_sha "origin/${GITHUB_HEAD_REF}"
  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        py -m pip install --upgrade pip
        py -m pip install build
    - name: Local Python Packaging
      run: |
        py -m build
    - name: Check version tag push
      if: github.event_name == 'push'
      shell: bash
      run: |
        source scripts/validate_package_version.sh
        validate_package_version_wo_sha "${GITHUB_REF}"
    - name: Check version tag PR
      if: github.event_name == 'pull_request'
      shell: bash
      run: |
        source scripts/validate_package_version.sh
        validate_package_version_wo_sha "origin/${GITHUB_HEAD_REF}"
