name: Module Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Ubuntu packages
      run: |
         sudo apt install -y python3-pip
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install coverage
        python3 -m pip install -r ./requirements.txt
    - name: Test
      run: |
        mkdir test_output
        cd test_output
        python3 -m coverage run --parallel-mode ../tests/test.py -c # This uses the coverage module under the hood to gain coverage info of invoked subprocesses
        python3 -m coverage run --parallel-mode ../tests/test_cpp_symbols.py
        python3 -m coverage combine
        python3 -m coverage xml
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        verbose: true # optional (default = false)
    - name: Prepare Example Deploy
      run: |
        mkdir example_deploy
        cd example_deploy
        cp -a ../test_output/pair_report_multi_page .
        cp ../test_output/pair_report_output.html .
        cp ../src/elf_diff/html/example_page.html ./index.html
    - name: Deploy To Github Pages
      uses: JamesIves/github-pages-deploy-action@4.1.5
      if: ${{ github.event_name == 'push' }} # Only run on push to master (which only happens if a PR is merged)
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: /home/runner/work/elf_diff/elf_diff/example_deploy # The folder the action should deploy.
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Weasyprint Dependencies
      run: |
        C:\msys64\usr\bin\bash -lc 'pacman -S mingw-w64-x86_64-ttf-dejavu mingw-w64-x86_64-pango mingw-w64-x86_64-ghostscript --noconfirm'
        xcopy "C:\msys64\mingw64\share\fonts\TTF" "C:\Users\runneradmin\.fonts" /e /i
        echo "C:\msys64\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH
        rm C:\msys64\mingw64\bin\python.exe
    - name: Install elf_diff Python Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade cffi
        python -m pip install -r ./requirements.txt
    - name: Test
      shell: bash
      run: |
        export PATH="${PATH}:/c/tools/msys64/mingw64/bin:/c/msys64/usr/bin" # Ensure that gtk3 dlls are found
        mkdir test_output
        cd test_output
        python ../tests/test.py
        python ../tests/test_cpp_symbols.py
